.label__description {
  font-size: 14px;
  color: var(--title-color);
}

.input__form {
  padding: 3%;
}

.input__form-inputs {
  padding: 3%;
}

.input__box {
  height: 37px;
  width: 240px;
  border-radius: 4px;
  padding: 0px 5px 0px 12px;
  border: 1px solid var(--border-color-inputs);
  outline-color: var(--border-color-outline);
}

.input__hint-description {
  font-weight: 700;
  font-size: 11px;
  font-style: normal;
  color: var(--small-title-color);
}
