.main_container {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid var(--border-color-inputs);
}
.column {
  padding: 2% 13% 0%;
  max-width: 65%;
  background: var(--white);
}

.column2 {
  width: 35%;
}
