html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;

  --background: #f2f2f2;
  --border-color-outline: #66afe9;
  --text-color-blue: #3d75bb;
  --text-color-blue-light: #5d9cec;
  --white: #ffffff;
  --border-color: #d1dce3;
  --border-color-inputs: #dde6e9;
  --title-color: #656565;
  --small-title-color: #cecece;
  --background-result: rgba(209, 220, 227, 0.18);
}

body {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
