.result {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 23% 0%;
  background-color: var(--background-2);
}

.result__title {
  font-style: italic;
  border-bottom: 1px solid #5d9cec;
  color: var(--text-color-blue);
}

.result__text {
  font-style: italic;
  color: var(--text-color-blue-light);
}
