.simulation__subtitle {
  font-size: 14px;
  color: var(--title-color);
}

.simulation__form {
  padding: 3%;
}

.simulation__form-inputs {
  padding: 3%;
}

.simulation__inputs {
  height: 37px;
  width: 240px;
  border-radius: 4px;
  border: 1px solid var(--border-color-inputs);
  outline-color: var(--border-color-outline);
}

.simulation__small-description {
  font-weight: 700;
  font-size: 11px;
  font-style: normal;
  color: var(--small-title-color);
}
